@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #f5f7f9;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100%;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111cc;
  font-family: "Inter", sans-serif;
}

p {
  color: #111111cc;
}
